/*@font-face{
    font-family: "JediRu";
    src: local("JediRu"), url("StarJedi.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Cyber";
    src: local("Cyber"), url("public/Cyber.otf") format("opentype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Crime";
    src: local("Crime"), url("public/Crime.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Bittlejuice";
    src: local("Bittlejuice"), url("public/Bittlejuice.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Hand";
    src: local("Hand"), url("public/Hand.otf") format("opentype");
    font-style: normal;
    font-weight: normal;
}*/