*{
    padding: 0;
    margin: 0;
}
body{
    background-image: url("https://the-flow.ru/uploads/images/resize/830x0/adaptiveResize/03/01/24/23/76/a536f2740cd7.jpg");
    background-repeat: no-repeat;
    background-size:100%;
    height:100%;
    background-color: cornflowerblue;
}
#root{
    height:100%;
    width: 100%;
    display: flex;
    justify-content: center;
}
.container{
    width:80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height:100%;
}
html{
    height:100%;
}

.name{
    margin:50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.footer{
    margin: 50px;
}
button{
    height: 50px;
    margin-top: 15px;
    padding:5px;
}
#rooms .room{
    padding:20px;
    margin: 20px;
    background-color: forestgreen;
    border-radius: 15px;
}
#hide-content{
    position: fixed;
    width: 100%;
    top:0;
    bottom:0;
    right:0;
    left:0;
    background: rgba(125, 125, 250, 0.5);
    border:none;
    display: none;
    justify-content: center;
    align-items: center;
    /*overflow: hidden;*/
}
#Modal-window{
    width:300px;
    background-color: azure;
    padding:25px;
}
#close{
    display: block;
    margin-left: 95%;
    margin-top:-5%;
    background-color: #ea3438;
    border-radius: 2px;
    border: 2px solid black;
    width: 25px;
    height:25px;
}
#form-modal{
    display: flex;
    flex-direction: column;
}
#rooms{
    overflow: auto;
    background-color: black;
    border-radius: 5px;
}
#search-field{
    height: 40px;
    width: 80%;
}
#search{
    height:35px;
    width: 80%;
}