.container-room {
    display: none;
    flex-direction: row;
    height: 100%;
    width:100%;
    background-color: yellow;
}
.icons{

    width:20%;
    background-color: black;
}
.field{
    max-width:65%;
    background-color: red;
}
.packages{
    width:15%;
    background-color: black;
}
.icons{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.icon {
    border: 2px solid navajowhite;
    background-color: black;
    height: 20%;
    width: 80%;
    margin: 10%;
}
.effects{
    width: 100%;
    height:30%;
    background-color: brown;

}
.field{
    height: 100%;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
}
.rows{
    height:50%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.game-section{
    height: 25%;
    width: 100%;
    border: 2px solid black;
    background-color: purple;
}
.myCards{
    width: 100%;
    height: 25%;
    background-color: chartreuse;
    display: flex;
    justify-content: center;
}
.packages{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.package{
    width: 50%;
    height:15%;
    margin: 20%;
    background-color: chocolate;
}
.card{
    color:white;
    height:115px;
    margin: 5px;
    width:75px;
    background-color: grey;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/*.card:hover{
    max-width:250px;
    height:350px;
    margin-top: -240px;
}*/
.game-section{
    clear: right;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.currentAttack{
    margin: 5%;
    width: 75px;
    height: 75px;
    background-color: white;
}
.end-turn{
    width: 80%;
    height:40%;
}
.pass{
    width: 80%;
    height:40%;
}
.blank-card{
    display: flex;
    background-color: chocolate;
    height:115px;
    margin: 5px;
    min-width:75px;
    border-radius: 5px;
}
.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height:15%;
    width:100%;
}
#enemy-first{
    background-image: url("https://images3.alphacoders.com/206/206205.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 -270px;
}
#enemy-second{
    background-image: url("https://images3.alphacoders.com/206/206205.jpg");
    background-position: 0 -135px;
    background-repeat: no-repeat;
    background-size: cover;
}
#enemy-third{
    background-image: url("https://images3.alphacoders.com/206/206205.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#player-first{
    background-image: url("https://s1.1zoom.me/big0/480/292318-Sepik.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#player-second{
    background-image: url("https://s1.1zoom.me/big0/480/292318-Sepik.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 -135px;
}
#player-third{
    background-image: url("https://s1.1zoom.me/big0/480/292318-Sepik.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 -270px;
}
.x-wing{
    /*background-color: bisque;*/
    background-image: url("http://images6.fanpop.com/image/photos/40100000/RedFive-X-Wing-star-wars-40147187-840-550.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0 30px;
}
.tie-fighter{
    background-image: url("https://wiki.swgoh.help/images/8/84/Unit-Ship-Imperial_TIE_Fighter.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0 30px;
}
span{
    color: darkblue;
    margin: 3px;
}
#card-value{
    font-size: 35px;
}
#player-icon{
    background-image: url("https://gamemag.ru/images/cache/News/News150443/3225926b7d-2_1390x600.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#enemy-icon{
    background-image: url("https://wallpaperengine.info/wp-content/uploads/2017/06/previewfile_952489305.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#win-menu{
    position: absolute;
    width: 100%;
    height:100%;
    display: none;
    justify-content: center;
    align-items: center;
}
#blank{
    width: 100%;
    height: 100%;
    background-color: darkblue;
    opacity: 0.5;
}
#win-message{
    position: absolute;
    margin: auto;
    background-color: white;
    width:20%;
    height:20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.wins-icons{
    margin-top: 15px;
    margin-bottom: 15px;
    width: 80%;
    height: 50px;
    display: flex;
    justify-content: space-around;

}
.win-bubble{
    background-color: grey;
    width:35px;
    height: 35px;
    border-radius: 50%;
}